div(class="chat--box-item",rel="#{id}")
    img(src=avatar)
    p.chat--box-message
        | %can_private%
        a(href="/users/"+user_id+"/", class="name")
            | #{nick}
        span.chat--box-message-text!=message