div(class="chat-box-item chat-box-mini-item text-right")
    p.message
        a(href="/users/" + user_id + "/",class="name")
            | #{nick}
        span.message-clock.message-clock--time
            i(class="fa fa-clock-o")
            span.message-clock-time
                | #{time}
        span.message-text!=message
    img.chat-box-item_image(src="" + avatar + "")