div(class="chat-box-item chat-box-mini-item")
	p.message
		a(href="/users/"+user_id+"/",class="name")
			| #{nick}
		span.message-clock
			i(class="fa fa-clock-o")
				|  
				| #{time}
		span.message-text!=message