table.table.table-hover
	tbody
		-	for (var key in users)
			tr
				td
					a(href="#")| #{users[key]['nick']}
					div.btn-group.pull-right
						a(href="#",class="fa fa-fw fa-stack-exchange",data-toggle="dropdown")
						ul.dropdown-menu
							li
								a(href="#")| Удалить из чата
							li
								a(href="#")| Замьютить